<h2>Welcome back, friend.</h2>

<form action="<%=session_url%>" method="post">
  <%= auth_token %>

  <label>
  email or username
    <input type="text" name="user[idInput]">
  </label>
  <br>

  <label>
  password
    <input type="password" name="user[password]">
  </label>
  <br>

  <button>Log in</button>

</form>
