<div class="form-bg">
<h2 class="form">Welcome back, friend.</h2>

	<form action="<%=session_url%>" method="post" class="wrapper">
	  <%= auth_token %>

		<div class="input">
	  <label>
	    <input class="id" type="text" name="user[idInput]" placeholder="email or username">
	  </label>
		</div>

		<div class="input">
	  <label>
	    <input class="pass" type="password" name="user[password]" placeholder="password">
	  </label>
		</div>

	  <button class="sign">Log in</button> <button type="button" class="sign demo">Guest</button>

	</form>
</div>

<script>
$(document).ready(function () {
	$("button.demo").on("click", function () {
		$('.id').val("dannytanner1987");
		$('.pass').val("123456");
	});
});

</script>

<% if flash[:errors] %>
<script>
	$( "h2.form" ).replaceWith( $( "<h2 class='form'>Try again</h2>" ) );
</script
<% end %>
