<form class="form-new-comment" action="<%= comments_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="comment[product_id]" value="<%= product.id %>">

  <div class="input">
    <label for="textarea-comment-text">Share your thoughts:</label>
    <br>
		<%= image_tag(current_user.avatar.url(:thumb))%>
    <textarea id="textarea-comment-text" name="comment[text]"></textarea>
  </div>

  <div class="submit">
    <button class="comment">Comment</button>
  </div>
</form>