<section class="users">
	<section class="users-list group">
  <ul>

    <% users.each(function(user) { %>
      <li>

      	<div class="user-box">
		  		<div class="user-avatar">
        		<a href="/#/users/<%= user.escape('id') %>">
          		<img src="<%= user.escape("image") %>">
            </a>
		  		</div>

		    	<div class="user-name">
		    		<h2><%= user.escape('name') %></h1>
		    		<h3>@<%= user.escape('username') %></h2>
		    	</div>
        </div>

	    </li>
	  <% }) %>
	</ul>
	</section>
</section>