<section class="brands">

  <section class="brands-list group">
    <ul>
      <% brands.each(function(brand) { %>
        <li>
        	<div class="brand-container group">
            <a href="#/brands/<%= brand.id %>">
              <h2><%= brand.escape("name") %></h2>
            </a>

            <% _(brand.attributes.products.slice(0,5)).each(function(product) { %>
              <div class="brand-product">
                <div class="brand-overlay"></div>
                <img src="<%= product.imageSmall %>">
              </div>
            <% }) %>

          </div>
        </li>
      <% }) %>
    </ul>

  </section>

</section>