<h2>Add a Product</h2>

<form id="product-form">

  <label for="name">Name</label>
  <input
    id="name"
    type="text"
    name="product[name]"
    value="<%= name %>">

  <label for="url">Url</label>
  <input
    id="url"
    type="text"
    name="product[url]"
    value="<%= url %>">

  <label for="price">Price</label>
  <input
    id="price"
    type="text"
    name="product[price]"
    value="<%= price %>">

 <input type="submit"></input>

</form>