<ul class="nav">
	<li class="random">Random</li>
	<li class="popular">Most Popular</a></li>
	<li class="new">New</a></li>
</ul>
<ul class="nav filters">
	<li class="everything">Everything</li>
	<li class="50">Under $50</li>
</ul>