/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, footer, section, article, div, p, h1, h2, h3, h4, ul, li, a, input, button, img, nav {
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	background: #F2F2F2;
}

.head {
	height: 100px;
	background: #FFF;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 300px;
	position: relative;
	height: 100%;
	padding: 0 42px;
}

.head img {
	padding-top: 16px;
	padding-bottom: 16px;
}

/* MAIN NAV BAR */

nav.main-nav {
	background-color: #e8e8e8;
	width: 100%;
	height: 100px;
}

nav.main-nav .wrapper {
	max-width: 1200px;
	height: 100%;
}

nav.main-nav .links {
	float:left;
	/*padding:36px 0;*/
	height: 100%;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

nav.main-nav a {
	/*margin-top: 25px;
	margin-bottom: 25px;*/
	padding: 0 10px;
	font-size: 24px;
	text-decoration: none;
	color: #525252;

	opacity: 0.6;
	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;

	font-family: europa, 'Helvetica';
	font-weight: strong;
}

nav.main-nav a:hover {
	opacity: 1;
}

nav.main-nav .user-links {
	float: right;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
}

nav.main-nav img {
	opacity: 0.6;
	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
}

nav.main-nav img:hover {
	opacity: 1;
}

/* YIELD */

.nav-divide {
	height: 96px;
	margin-bottom: 4px;
}

nav.content {
	height: 100px;

	float:left;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

div.nav-divide a {
	font-size: 16px;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #525252;
	margin: 0 10px;

	opacity: 0.7;
	transition: opacity .1s ease-out;
	-moz-transition: opacity .1s ease-out;
	-webkit-transition: opacity .1s ease-out;
	-o-transition: opacity .1s ease-out;
}

div.nav-divide a:hover {
	opacity: 1;
}

nav.filters {
	height: 100px;

	float:right;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;

}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* Products Related Stuff */

h2.product-show {
  margin: 0 auto;
  font-style: europa, "helvetica";
  font-size: 30px;
  text-align: center;
}

section.products .products-list {
	height: 100%;
	margin-bottom: 10px;
  margin-left: 40px;
}

div.product-box {
	display: block;
  float: left;
	margin: 0 auto;
  margin-right: 30px;
  margin-bottom: 30px;
	width: 30%;
	height: 383px;
	background: #FF8500;
  position: relative;
}

div.product-price {
  background: #00FAAA;
  width:70px;
  height:40px;
  position:absolute;
  right:0px;
  top:0px;
  transition: 0.2s;
  text-align: center;
}

div.product-price a {
  color: #fff;
  font-weight: 500;
  font-family: europa, "helvetica";
  text-decoration: none;
}

div.product-image {
	background: #FFF;
	height: 335px;
	text-align: center;
	width: 100%;
}

div.product-image img {
	max-height:100%;
	max-width:100%;
}

div.like-box {
	height: 48px;
}

div.like-box img {
  float: left;
  background: #000;
  width: 48px;
  height: 48px;
}

div.like-count {
  float: right;
}

div.load-more {
/*	width: 100%;*/
	height: 25px;
	background-color: #C8C8C8;
	text-align: center;
	color: #525252;
	font-size: 16px;
	font-family: europa, 'Helvetica';
	font-weight: 300;
	transition: 0.2s;
	padding: 25px 0;
	margin-left: -100%;
	margin-right: -100%;
}

div.load-more:hover {
	background-color: #AFAFAF;
}

/* Footer */

footer {
	background: #FFF;
	padding: 50px 0;
}

footer div.footer-links {
	padding: 10px 0;
}

footer a {
	font-size: 18px;
	font-weight: 300;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #525252;
	margin-right: 10px;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer h1 {
	font-weight: 300;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #595959;
}

footer p {
	font-size: 15px;
	font-weight: 300;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #595959;
	opacity: 0.7;
}

/* FORM STUFF */



h2.form {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	font-family: europa, 'Helvetica';
}

form.wrapper {
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.input input {
  height: 50px;
  width: 400px;
  margin: auto;
	margin-bottom: 20px;
  padding-left: 10px;
	background: #D2D2D2;
	font-size: 20px;
	font-family: europa, 'Helvetica';

}

input:focus {
  outline-offset: 0;
  outline: none;
	background: #E1E1E1;
}

button.sign {
	margin: 10px 0;
	margin-bottom: 30px;
	width: 130px;
	height: 60px;
	background: #00FAAA;
	font-size: 20px;
	font-family: europa, 'Helvetica';
	color: #FFF;
	font-weight: 300;
	outline: none;
	transition: 0.2s;
}

button.sign:hover {
	background: #00B25C;
}

.input {
  margin: 10px 0;
}

.input > label {
  display: block;
	font-size: 20px;
	font-family: europa, 'Helvetica';
  font-weight: 500;;
  margin: 0 0 5px 100px;
	color: #999999;
	text-align: left;
}



