/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, footer, section, article, div, p, h1, h2, h3, h4, ul, li, a, input, button, img, nav {
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
  text-decoration: none;
	font: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
	background: #F2F2F2;
}

body.modal-open {
/*    overflow: hidden;*/

}

.head {
	height: 100px;
	background: #FFF;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 300px;
	position: relative;
	height: 100%;
	padding: 0 42px;
}

.head img {
	padding-top: 16px;
	padding-bottom: 16px;
}

/* MAIN NAV BAR */

nav.main-nav {
	background-color: #e8e8e8;
	width: 100%;
	height: 100px;
  opacity: 0.8;
  box-shadow: 0 4px 1px -2px rgba(0,0,0,0.15);
}

nav.main-nav .wrapper {
	max-width: 1200px;
	height: 100%;
}

nav.main-nav .links {
	float:left;
	/*padding:36px 0;*/
	height: 100%;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

nav.main-nav a {
	/*margin-top: 25px;
	margin-bottom: 25px;*/
	padding: 0 10px;
	font-size: 24px;
	text-decoration: none;
	color: #525252;

	opacity: 0.6;
	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;

	font-family: europa, 'Helvetica';
	font-weight: strong;
}

nav.main-nav a:hover {
	opacity: 1;
}

nav.main-nav .user-links {
	float: right;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
}

nav.main-nav img {
	opacity: 0.6;
	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
}

nav.main-nav img:hover {
	opacity: 1;
}

/* NAV BAR */

.nav-divide {
	height: 96px;
	margin-bottom: 4px;
}

nav.content {
	height: 100px;

	float:left;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

div.nav-divide a {
	font-size: 16px;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #525252;
	margin: 0 10px;

	opacity: 0.7;
	transition: opacity .1s ease-out;
	-moz-transition: opacity .1s ease-out;
	-webkit-transition: opacity .1s ease-out;
	-o-transition: opacity .1s ease-out;
}

div.nav-divide a:hover {
	opacity: 1;
}

nav.filters {
	height: 100px;

	float:right;
	-moz-box-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;

}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* -- Editor Buttons -- */

.editor {
	float: right;
}

.editor a {
	padding: 10px 20px;
	border: 3px solid #000;
	text-decoration: none;
	font-size: 13;
	font-family: europa, 'Helvetica';
	color: #000;
	transition: 0.3s;

}

.editor a:hover {
	opacity: 1;
	background: #000;
	color: #FFF;
}

/* Products Related Stuff */

h2.product-show {
  margin: 0 auto;
  font-family: europa, 'Helvetica';
  font-size: 30px;
  text-align: center;
}

section.products {
  margin-top: 50px;
}

section.products .products-list {
	height: 100%;
	margin-bottom: 10px;
  margin-left: 40px;
}

div.product-box {
	display: block;
  float: left;
	margin: 0 auto;
  margin-right: 30px;
  margin-bottom: 30px;
	width: 30%;
	height: 383px;
	background: #FFA540; /* #FF8500, #FF8700 */
  position: relative;
	box-shadow: 0 4px 1px -2px rgba(0,0,0,0.15);
}

div.product-price a {
	z-index: 500;
	background: #297ACC; /* #00FAAA */
  color: #fff;
	font-size: 20px;
  font-weight: 500;
  font-family: europa, "helvetica";
  text-decoration: none;
  width:70px;
  height:40px;
  position:absolute;
  right:0px;
  top:0px;
  transition: 0.2s;
  text-align: center;
	line-height: 40px;
}

div.product-price a:hover {
	width: 100px;
	background: #000;
}

div.product-image {
	background: #FFF;
	height: 335px;
	text-align: center;
	width: 100%;
  cursor: pointer;
}

div.bg{

	position:absolute;
	z-index: 999;
  width:100%;
  height:336px;
	transition: 0.3s;
	opacity:0;
}

div.bg:hover {
  width:100%;
  height:335px;
  background-color:#000;
  opacity:0.15;
}

div.product-image img {
	max-height:100%;
	max-width:100%;
  margin-top: 50px;
}

div.like-box {
	height: 48px;
}

div.like-box img {
  float: left;
  background: #000;
  width: 48px;
  height: 48px;
}

div.like-count {
  float: right;
	text-align: center;
	line-height: 3;
	font-size: 16px;
	font-family: europa, 'Helvetica';
	width: 48px;
	height: 48px;
	opacity: 0.7;
	background: #000;
	color: #FFF;

}

div.load-more {
/*	width: 100%;*/
	height: 25px;
	background-color: #C8C8C8;
	text-align: center;
	color: #525252;
	font-size: 16px;
	font-family: europa, 'Helvetica';
	font-weight: 300;
	transition: 0.2s;
	padding: 25px 0;
	margin-left: -100%;
	margin-right: -100%;
	line-height: 25px;
}

div.load-more:hover {
	background-color: #AFAFAF;
}

/* Category */



/* Footer */

footer {
	background: #FFF;
	padding: 50px 0;
}

footer div.footer-links {
	padding: 10px 0;
}

footer a {
	font-size: 18px;
	font-weight: 300;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #525252;
	margin-right: 10px;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer a.canopy-link {
	font-size: 15px;
	color: blue;
}

footer h1 {
	font-weight: 300;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #595959;
}

footer p {
	font-size: 15px;
	font-weight: 300;
	font-family: europa, 'Helvetica';
	text-decoration: none;
	color: #595959;
	opacity: 0.7;
}

/* FORM STUFF */

h2.form {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	font-family: europa, 'Helvetica';
}

.avatar {
	margin: auto;
	width:96px;
}

form.wrapper {
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.input input {
  height: 50px;
  width: 400px;
  margin: auto;
	margin-bottom: 20px;
  padding-left: 10px;
	background: #D2D2D2;
	font-size: 20px;
	font-family: europa, 'Helvetica';

}

input:focus {
  outline-offset: 0;
  outline: none;
	background: #E1E1E1;
}

button.sign {
	margin: 10px 0;
	margin-bottom: 30px;
	width: 130px;
	height: 60px;
	background: #00FAAA;
	font-size: 20px;
	font-family: europa, 'Helvetica';
	color: #FFF;
	font-weight: 300;
	outline: none;
	transition: 0.2s;

}

button.sign:hover {
	background: #00B25C;
}

.input {
  margin: 10px 0;
}

.input > label {
  display: block;
	font-size: 20px;
	font-family: europa, 'Helvetica';
  font-weight: 500;;
  margin: 0 0 5px 100px;
	color: #999999;
	text-align: left;
}

input.upload {
	font-family: 'ITC Avant Garde Gothic W04','AvantGardeGothicITCW01D 731075','AvantGardeGothicITCW01Dm','Helvetica','sans-serif';
	margin-bottom: 20px;
}

textarea.form {
	padding: 10px;
	font-size: 16px;
	font-family: europa, 'Helvetica';
	font-weight: 300;
	height: 100px;
	width: 300px;
  resize: none;
	outline: none;
	background: #D2D2D2;
	margin-bottom: 20px;
	border: none;
}

textarea.form:focus {
	background: #E1E1E1;
}

.input textarea {
	margin-left: 10px;
	height: 24px;
	width: 700px;
	outline: none;
	border: none;
	background: #D2D2D2;
	resize: none;
	padding: 12px;
	font-size: 18px;
	font-weight: 500;
	font-family: europa, 'Helvetica';
	color: #525252;
	-webkit-font-smoothing: antialiased;
}

.input textarea:focus {
	background: #E1E1E1;
}

button.comment {
	margin: 10px 0;
	margin-bottom: 30px;
	width: 130px;
	height: 54px;
	background: #aaa;
	font-size: 20px;
	font-family: europa, 'Helvetica';
	color: #FFF;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	outline: none;
	transition: 0.2s;
}

button.comment:hover {
	background: #888;
}

.divider {
	height: 2px;
	background: #E1E1E1;
	margin-bottom: 30px;
}

/* MODAL */
.modal {
  display: none;
}

.modal.is-active {
  display: block;
}

.modal-content {
	position: absolute;
	z-index: 1000;
	background: #fff;
	top: 50%;
	left: 50%;
	width: 900px;
	min-height: 300px;
	padding: 50px;
	margin-left: -500px;
	margin-top: -200px;
  overflow: visible;
}

.modal-image {
	float: left;
	width: 50%;
	text-align: center;
}

.modal-info {
	float: left;
	width: 45%;
	margin-left: 30px;
	height: 100%;
	display: block;
}

.modal-info h2 {
	text-decoration: none;
	font-weight: 300;
	text-align: left;
	margin-bottom: 30px;
	-webkit-font-smoothing: antialiased;
}

.modal-info .price {
	height: 50px;
	width: 200px;
	-webkit-font-smoothing: antialiased;
	background: #297ACC;
  color: #fff;
	font-size: 20px;
  font-weight: bold;
  font-family: europa, "Helvetica";
  text-decoration: none;
  transition: 0.2s;
  text-align: center;
	line-height: 50px;
	display: block;
	margin-bottom: 30px;
}

.modal-info .price:hover {
	background: #1F5C99;
}

.modal-info .likes {
	min-height: 48px;
	max-height: 144px;
	margin-bottom: 20px;
}

.modal-info a {
	text-decoration: none;
}

.modal-info .likes img {
	height: 48px;
	width: 48px;
	float: left;
}

.modal-content .comments {
  width: 100%;
  display: block;
  float: left;

}

.modal-content .comments li {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 25px;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 0.3s;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  transition: 0.3s;
}

.modal-close:hover {
  color: #333;
}

.modal-content.like {
  position: absolute;
  z-index: 1000;
  background: #fff;
  top: 50%;
  left: 50%;

  width: 400px;
  min-height: 300px;
  padding: 50px;

  margin-left: -250px;
  margin-top: -200px;
}

.modal-content.like p {
  padding-left: 50px;
  font-family: europa, 'Helvetica';
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.modal-content.like li {
  padding-left: 50px;
  display: block;
  height: 48px;
  float: left;
  margin-bottom: 10px;
}

.modal-content img {
  float: left;
  display: block;
  width: 48px;
  height: 48px;
}

.modal-content .user-info {
  float: left;
  margin-left: 20px;
  display: block;
}

.modal-content h1 {
  font-size: 24px;
  font-weight: 700;
}

.modal-content h1:hover {
  text-decoration:underline;
}

.modal-content h2 {
  font-size: 18px;
  font-weight: 300;
  color: #999;
}

