// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section .brands-list{
  margin-top: 50px;
}

.brand-container {
  background: #fff;
  width: 90%;
  height: 275px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);

}

.brand-container h2 {
  padding: 15px;
  font-size: 24px;
  font-family: europa, 'Helvetica';
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  color: #bbb;
  border-bottom: 2px solid #F2F2F2;
  transition: 0.3s;
  opacity: 0.7;
}

.brand-container h2:hover {
  color: #fff; //#888
  background: #ccc;
  padding-left: 45%;
  opacity: 1;
	border-bottom: 2px solid #eee;
}

.brand-overlay {
  height: 216px;
  position: absolute;
  width:100%;
	transition: 0.3s;
	opacity:0;
  float: left;
}

.brand-overlay:hover {
  background-color:#000;
  opacity:0.15;
}

.brand-product {
  float:left;
  width: 20%;
  height: 220px;
  text-align: center;
  position: relative;
}

.brand-product img{
	max-height:75%;
	max-width:75%;
  padding-top: 25px;
}

//Show

section.brand {
  margin-top: 50px;
}

section.products h1 {
	font-size: 32px;
	font-weight: 300;
	/*margin-bottom: 50px;*/
	text-align: center;
}

section.products .container {
	text-align: center;
}

.container > .products-list {
	transition: 0.5s;
}

.container.open > .products-list {
	padding-top: 100px;
}

section.products h2 {
	display: inline-block;
	text-align: center;
	font-size: 30px;
	color: #ccc;
	font-weight: 400;
	transition: 0.5s;
	margin: 10px 0;
	opacity: 0.7;
}

section.products h2:hover {
	opacity: 1;
	cursor: pointer;
}

section.products h2.open {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

ul.sub-menu {
	/*height: 50px;*/
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
	color: #525252;
}

ul.sub-menu a {
	color: #525252;
}

ul.sub-menu.open {
	opacity: 1;
	padding: 0 20%;
}

.sub-menu.open a {
	color: #525252;;
}

.sub-menu.open a:hover {
	text-decoration: underline;;
}