// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.test-header {
	height:144px;
}

.after-group {
	clear: left;
}

.box {
	display:inline-block;
	width:200px;
	height:100px;
	margin: 5px;
	background:red;
}

div.user-sandwich {
	height: 144;
	margin-top:20px;
	margin-bottom:20px;
}

div.user-header {
	height: 144px;
}

div.user-container {
	height: 144px;
}

div.user-container .user-avatar img{
	width: 96px;
	height: 96px;
  float: left;
}

div.user-container a {
	width: 96px;
	height: 48px;
	background: #ff1f5e;
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	text-decoration: none;
	color: #FFF;
	font-family: europa, "Helvetica";
	font-weight: 300;
}

.user-name {
	float: left;
	margin-left:20px;
	display: inline-block;
	vertical-align: top;
}

.user-name h2 {
	font-weight: 400;
	font-size: 24px;
	color: #525252;
}

.user-name h3 {
	font-size: 18px;
	font-weight: 300;
	color: #999;
}



ul.user-nav {
	right:0px;
	top:0px;
	float: right;
	display: inline-block;
}

ul.user-nav li {
	float: left;
	display: block;
	padding: 10px;
	display: block;
	font-weight: 300;
	font-size: 20px;
	color: #525252;
	opacity: 0.6;
	transition: 0.3s;
}

ul.user-nav li:hover {
	opacity: 1;
	cursor: pointer;
	border-bottom: 2px solid #aaa;
}

ul.user-nav li.active {
	opacity: 1;
	border-bottom: 2px solid #aaa;
}

ul .count {
	text-align: center;
}

/* Followers + Followed Users */

section.users {
  margin-top: 50px;
}

section.users .users-list {
	height: 100%;
	margin-bottom: 10px;
  margin-left: 40px;
}

section.users h1 {
	padding-bottom: 30px;
	font-weight: 300;
	font-size: 24px;
	text-align: center;
}

.user-box {
	display: block;
  float: left;
	margin: 0 auto;
  margin-right: 30px;
  margin-bottom: 30px;
	background: #fff;
	width: 30%;
	height: 144px;
  position: relative;
	box-shadow: 0 4px 1px -2px rgba(0,0,0,0.15);
}

.user-box .user-avatar {
	width:96px;
	height:96px;
	float: left;
}

.user-box .user-avatar img {
	width: 100%;
	height: 100%;
}

.user-box .user-name {
	float: left;
	padding-top: 10px;
}

.follow {
  display: block;
  height: 24px;
  background: #FFBA2B;
  width: 96px;
  padding-top: 14px;
  padding-bottom: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: #FFF;
  weight: 300;
}