<h2>Products Index</h2>

<% if signed_in? && is_editor?%>
  <% @products.each do |product| %>
    <a href="<%= product_url(product) %>"><%= product.name %></a> |
    price: $<%= product.price.to_i %>
  <% end %>
<% else %>
  <!-- <% 18.times do |x| %>
    <%= x %>
  <% end %> -->
<% end %>
