<h2><%= @product.name %></h2>

<h3><a href="http://<%= @product.url %>">$<%= @product.price.round %></a></h4>

<h3>Likes:</h4>

<h3>Popular <%= @product.category.name %> products</h3>

<h3>Comments</h3>