<ul class="nav">
	<li><a href="#/categories">Categories</a></li>
	<li><a href="#/brands">Brand</a></li>
</ul>
<ul class="nav filters">
	<li class="popular">Popular</li>
	<li class="expensive">Most Expensive</li>
	<li class="affordable">Least Expensive</li>
</ul>